/* p.error{
    color: red;
}
p.success{
    color: rgb(3, 187, 3);
}
p.success.feedback{
    border: 1px dashed green;
}
#content{
    background-color: #ebebeb;
    padding: 20px;
} */
/* div .error{
    color: red;
} */
a[href*="youtube"]{
    background: #3dd13d;
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}
a[href$=".com"]{
    color: white;
    background: red;
    border: 2px solid blue;
}